  <div class="jumbotron container-fluid">
    <div class="row">
      <div class="col-md-12 center">
        <h1 class="title"><%= title %></h1>
        <p>All the top news from the Finacial Times in one place</p>
      </div>
    </div>
  </div>
<div class="container-fluid top-pagination pagination-nav">
  <div class="row">
    <div class="col-md-12 center">
      <div class="pagination-div">
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <ul class="headlines-list" id="headlines">
        <p>Loading...</p>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid pagination-nav">
  <div class="row">
    <div class="col-md-12 center">
      <div class="pagination-div">
      </div>
      <p id="copyright">&copy; Renaissance Vision 2017</p>
    </div>
  </div>
</div>
<script src="/javascripts/populateIndex.js" charset="utf-8"></script>
